<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!!airport?.code; else selectAirport">
      Flights from: {{ airport?.code }}
    </ion-title>
    <ng-template #selectAirport>
      <ion-title>
        Select an Airport
      </ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button (click)="chooseAirport()">
        <ion-icon name="pin"></ion-icon>
      </ion-button>
      <ion-button (click)="showSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading [color]="primary" *ngIf="loading; else departureList" [ngClass]="{'finished-loading': !loading}">
  </app-loading>

  <ng-template #departureList>
    <ion-searchbar placeholder="Filter by status" animated (ionChange)="searchFlights($event)" mode="ios"
      *ngIf="displaySearchBar"></ion-searchbar>

    <ion-list *ngIf="flightList.length > 0">
      <ion-item *ngFor="let flight of flightList" lines="none">
        <app-flight-card [flight]="flight" [logo]="getAirlineLogo(flight?.airline?.code)"></app-flight-card>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="flightList.length == 0">
      <p text-center>No items to display :(</p>
    </ion-list>
  </ng-template>
</ion-content>